page-login {
    .login {
        background: no-repeat center;
        margin: auto;
        display: block;
    }

.vertical-align-content > *
{
     display: flex!important;
     margin-top: 100px !important;
}
}
