<ion-header>
  <ion-toolbar>
    <ion-title>Open gambles</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="logOut()">
        <ion-icon name="md-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="text" *ngFor="let item of items | async">
      <ion-card>
      <ion-card-content>
        <ion-card-title>
           {{item.name}}
        </ion-card-title>
      </ion-card-content>

      <ion-item>
        <ion-icon name='calendar' item-left style="color: #BD2630"></ion-icon>
        {{item.startdatum}}
      </ion-item>

      <ion-item>
        <ion-icon name='close' item-left style="color: #55acee"></ion-icon>
        {{item.closedForGamble}}
        <ion-icon *ngIf=gambleOpen name='ios-checkmark-circle-outline' item-right style="color: #7CBD26"></ion-icon>
      </ion-item>

      </ion-card>
    </ion-item>
  </ion-list>
  <!--<ion-list>
  <ion-item class="text" *ngFor="let item of items | async">
      <ion-icon name="logo-twitter" item-left></ion-icon>
        Followers
        <ion-badge item-right>260k</ion-badge>
    {{item.$key}}
  </ion-item>
  </ion-list>-->
</ion-content>
